<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="robot">

    <xacro:include filename="robot_base.xacro" />

    <xacro:include filename="lidar.xacro" />
    <xacro:include filename="imu.xacro" />

    <xacro:imu_sensor xyz="0 0 0.05" rpy="0 0 0" parent="base_link"/>


    <!-- To use camera, comment out depth camera and use the camera xacro tag. -->
    <!-- <xacro:include filename="camera.xacro" /> -->

    <!-- <xacro:include filename="depth_camera.xacro" /> -->

    <!-- Commenting Gazebo Control so that ros2_control can be the default control framework for the robot -->
    <!-- <xacro:include filename="gazebo_control.xacro" /> -->

    <xacro:include filename="ros2_control.xacro" /> 

</robot>